<div class="card__statistics">
  <mat-icon
    aria-hidden="false"
    aria-label="Icon"
    fontIcon="visibility"
  ></mat-icon>
  <div class="card__statistics__span">{{ card.statistics.viewCount }}</div>

  <mat-icon
    aria-hidden="false"
    aria-label="Icon"
    fontIcon="thumb_up"
  ></mat-icon>
  <div class="card__statistics__span">{{ card.statistics.likeCount }}</div>

  <mat-icon aria-hidden="false" aria-label="Icon" fontIcon="comment"></mat-icon>
  <div class="card__statistics__span">{{ card.statistics.commentCount }}</div>
</div>
